.truebody {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 1fr 4fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    grid-row: 3;
}

.truebody form {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
    width: 100%;
}
.truebody form label {
    text-align: center;
}

.namelebel {
    grid-column: 1;
    text-align: center;
}

.truebody form input {
    grid-column: 2;
}

.lebel {
    grid-column: 3;
    color: red;
    text-align: center;
}

.radio{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.truebody h4 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.truebody form input[type=submit] {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 25%;
    margin: 0 0 0 40%;
}

.truebody h1 {
    grid-row: 1;
    grid-column: 2;
}