#komentarz {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
    height: 100%;
    width: 100%;
}

#skomentuj {
    grid-column-start: 2;
    grid-row-start: 4;
    width: 35%;
    justify-items: center;
}

.lebel {
    grid-column-start: 2;
    grid-row-start: 3;
    color: red;
}
.truebody {
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    width: 100%;
    align-content: center;
    justify-items: center;
    grid-row: 3;
}
.truebody h1 {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
}

.truebody h4 {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
}